.container {
    font-size: 100%;
}

.banner_carousel_container {
    --swiper-pagination-color: white;
    --swiper-pagination-bullet-inactive-color: white;
    --swiper-pagination-bullet-inactive-opacity: 0.35;
    --swiper-pagination-bullet-size: 16px;
    --swiper-pagination-bullet-horizontal-gap: 6px;
    border-radius: 0.28571429rem;
    line-height: 0;
}

.banner_carousel_image {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.courses_carousel,
.coaches_carousel {
    padding-top: 20px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 20px;
    margin-left: -12px;
    margin-right: -12px;
}

.action_block_wrapper {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

@media only screen and (min-width: 1024px) and (max-width: 1181px) {
    .courses_carousel,
    .coaches_carousel {
        padding-top: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .banner_carousel_image {
        height: 440px;
    }

    .courses_carousel,
    .coaches_carousel {
        padding-top: 0;
    }

    .action_block_wrapper {
        margin-top: 20px !important;
    }

    .action_block_container {
        position: relative !important;
        display: block !important;
    }

    .action_block_left {
        position: absolute !important;
        z-index: 1 !important;
        top: 10% !important;
    }

    .action_block_text {
        font-size: 0.75em !important;
        padding-inline: 3.25em !important;
    }

    .action_block_right {
        width: auto !important;
        box-shadow: none !important;
    }
}
